.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap between items as needed */
  justify-content: center; /* Center the items horizontally */
  align-items: flex-start; /* Align items to the start of the flex container */
}

.blog-preview-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f5f5f5; /* Light grey background for subtlety */
  border-radius: 1rem; /* Rounded corners for a modern look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slightly deeper shadow for emphasis */
}

.blog-preview-content {
  flex-grow: 1;
  padding: 20px; /* Add padding for spacing */
}

.blog-preview-content h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.blog-preview-content p {
  font-family: Roboto, sans-serif;
  color: #333;
  line-height: 1.4;
}

.blog-image {
  width: 100%;
  max-width: 800px;
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
